<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define Manufacturer="FreeToUse"?>
  <?define ProductName="GitLooker"?>
  <?define Version="5.0.4"?>
  <?define Description="Application can ease maintain large amount of repositories showing repo status on form. Also allow pull to update local sources with remote."?> 
  
	<Product Id="*" Name="$(var.ProductName)Setup" Language="1033" Version="$(var.Version)" Manufacturer="$(var.Manufacturer)" UpgradeCode="E09DAB85-DE2B-4DDD-AD97-A026E77975C2">
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowDowngrades="no" AllowSameVersionUpgrades="no" />
		<MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="$(var.ProductName)Setup" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="CDFD4FFE-77CC-4429-A188-D530DD602F4F">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.ProductName)"
                  Description="$(var.Description)"
                  Target="[INSTALLLOCATION]GitLooker.exe"
                  WorkingDirectory="INSTALLLOCATION"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Feature Id="ProductFeature" Title="$(var.ProductName)Setup" Level="1" Description="$(var.Description)" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentRef Id ="ApplicationShortcut"/>
      <ComponentGroupRef Id="GitLookerFiles" />
    </Feature>
  </Product>
</Wix>
