<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="GirLookerPath" value=""/>
    <add key="repoProcessingCount" value="3"/>
    <add key="intervalUpdateCheckHour" value="0"/>
    <add key="mainBranch" value="master"/>
  </appSettings>
</configuration>
